//colors
$white: #E1EAEC;
$grey: #EFEFEF;
$green: #01ACAC;
$red: #EA1E1E;
$darkgreen: #8DA2AC;

//font-sizes
$fz-15: 15px;
$fz-18: 18px;
$fz-24: 24px;
$fz-26: 26px;

//font-family
$font-roboto: 'Roboto', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-cantarell: 'Cantarell', sans-serif;
$font-antiqua: 'Inknut Antiqua', serif;
// Інші шрифти платні

//width
$w-100: 100%;
